body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Arial", sans-serif;
}

#container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

#watchingStatus {
  position: fixed;
  top: 0;
  right: 0;
  padding: 12px;
  color: #fff;
  font-size: larger;
}

#playersContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: space-around;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#playersContainer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 20px;
  cursor: pointer;
  height: 140px;
  width: 130px;
  box-sizing: border-box;
  text-align: center;
}

#playersContainer div #name {
  font-weight: bold;
  color: magenta;
  animation: changeColor 5s infinite;
}

#playersContainer div img {
  height: 84px;
  display: block;
  margin-bottom: 10px;
}

#iframeContainer {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 20px;
}

#iframeContainer iframe {
  width: 90%;
  height: 90%;
  background-color: white;
  margin: 30px 0 0 0;
  padding: 0;
  border: none;
}

#banner {
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #000000;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: larger;
  font-weight: bold;
  animation: slideDown 1s ease-in-out, slideLeft 2s ease-in-out,
    changeColor 5s infinite;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes changeColor {
  0% {
    color: magenta;
  }

  25% {
    color: rgb(33, 158, 213);
  }

  50% {
    color: magenta;
  }

  75% {
    color: rgb(33, 158, 213);
  }

  100% {
    color: magenta;
  }
}
